

    <div id="instruct" width="1500" height="500" style="padding-top:50px;">

        <h1>Part 3: Restudy phase</h1>
        <h2>Instructions</h2>

        <p>In this part of the experiment you will get the opportunity to restudy some of the image pairs.
        As in the first study phase, you will see each pair for 4 seconds with the CUE on the left and the 
        TARGET on the right. Try to create vivid mental images of the two objects interacting.</p>

        <p>As before, between presentations of image pairs you will see an arrow point to the left or right. 
        Press the corresponding arrow key in order to continue to the next pair.</p>

        <div class="continueinstructions">When you're ready to begin, press <strong>Next</strong>.</div>
        <input type="button" class="continue" id="Next" value="Next">


    </div>

