    <div id="instruct" width="1500" height="500" style="padding-top:50px;">

        <h1>Part 1: Study phase</h1>
        <h2>Instructions</h2>

        <p>In the first part of the experiment, you will be shown each pair of images for 4 seconds. The CUE
        will appear on the left side of the screen, and the TARGET will appear on the right.</p>

        <div class="var">INSTRUCTIONIMG[0]</div>

        <p>While the images are on the screen, you should try to create a vivid mental image of the two
        objects interacting. Visual imagery is known to improve memory for associations. For example, if 
        presented with the pair shown above you might imagine using the handle of the wagon to make sounds on
        the xylophone. This would help create a strong association 
        betweent the CUE and TARGET that will come to mind more easily when you are tested later.</p>

        <p>Each of the <span class="var">N_STIMULI</span> CUE objects will be paired with one of the four TARGET objects shown below:</p>

        <div class="var">INSTRUCTIONIMG[4]</div>

        <p>In between presentations of CUE-TARGET pairs, you will see an arrow pointing either to the left
        or to the right. <strong>As soon as you see the arrow, simply press the corresponding arrow key on your 
            keyboard in order to go on to the next pair.</strong></p>

        <p>Good luck studying!</p>

        <div class="continueinstructions">When you're ready to begin, press <strong>Next</strong>.</div>
        <input type="button" class="continue" id="Next" value="Next">

    </div>
