

    <div id="instruct" width="1500" height="500" style="padding-top:50px;">

        <h1>Part 4: Memory Test</h1>
        <h2>Instructions</h2>

        <p>During the final part of the experiment, your memory for the pairs will be tested. Each CUE will be
        presented along with the four possible TARGETS in a row below it. You will have up to <span class="var">DURATION_STUDY_STR</span>
        seconds to select the corresponding TARGET based on your memory of the pair.</p> 

        <div class="var">INSTRUCTIONIMG[3]</div>

        <p>Select a TARGET by simply clicking on the image. If you are unsure, try to make your best guess within
        the allotted time.</p>

        <p>Remember, you will get a bonus for every correctly identified TARGET, so try to be as accurate as you can!</p>

        <div class="continueinstructions">When you're ready to begin, press <strong>Next</strong>.</div>
        <input type="button" class="continue" id="Next" value="Next">

    </div>

