
    <div id="instruct" width="1500" height="500" style="padding-top:50px;">

        <h1>Making Associations in Memory</h1>
        <h2>Instructions</h2>

        <p>In this experiment you will study <span class="var">N_STIMULI</span> pairs of images. Each pair will consist of
        a unique image on the left (the "CUE") and a repeating image on the right (the "TARGET"). Your goal is to memorize each
        pair so that when given the CUE, you will be able to select the TARGET that goes with it.</p>

        <div class="var">INSTRUCTIONIMG[0]</div>

        <p>You will be tested for your memory of the pairs at the end of the experiment. <strong style="color:orange;">For each pair that you remember 
            correctly, you will be paid a bonus of <span class="var">BONUS_PER_POINT_STR</span></strong>, on top of the <span class="var">BASE_PAYMENT_STR</span>
        you receive for doing this experiment. If you're able to remember all the pairs correctly, you would earn a total of <span class="var">MAX_PAYMENT_STR</span>.

        <ol>There are four parts to the experiment:
            <li>Study the pairs (approx. 8 minutes)</li>
            <li>Decide which pairs you want to study again (approx. 8 minutes)</li>
            <li>Restudy some of the pairs (approx. 4 minutes)</li>
            <li>Test your memory (approx. 8 minutes)</li>
        </ol>


        <div class="continueinstructions">When you're ready to begin, press <strong>Next</strong>.</div>
        <input type="button" class="continue" id="Next" value="Next">


    </div>

