    <div id="instruct" width="1500" height="500" style="padding-top:50px;">

        <h1>Part 2: Decision phase</h1>
        <h2>Instructions</h2>

        <p>In the next part of the experiment, you will make a decision about each of the pairs that you
        just finished studying. There are two kinds of decisions: "FREQUENCY" and "RESTUDY".</p>

        <p>The FREQUENCY decision requires you to use your memory for how often objects appear in your daily life. When you see an image, you should <strong style="color:orange">decide how much you typically 
            encounter that object, regardless of whether you remember seeing it during this experiment</strong>. The image will be presented alone for 2 seconds while you make your decision. After 2 seconds, you will enter your decision on a scale from "Not at all" to "Very much" by clicking on the corresponding area of the white line that appears below the image (see example below).</p>
        
        <div class="var">INSTRUCTIONIMG[1]</div>

        <p>For this type of decision, please try your best to accurately judge how often you encounter the object in daily life. Keep in mind that your decision should NOT be based on how strongly you remember seeing it during the first study phase.</p>
        
        <div class="continueinstructions">When you're ready to continue, press <strong>Next</strong>.</div>
        <input type="button" class="continue" id="Next" value="Next">


    </div>

