
    <div id="instruct" width="1500" height="500" style="padding-top:50px;">

        <h1>Part 2: Decision phase</h1>
        <h2>Instructions</h2>

        <p>For RESTUDY decisions, when you see an image you should <strong style="color:orange">decide how much you feel that you need to restudy that CUE with its TARGET again</strong>. Your decision should be based on whether or not you can recall the TARGET that goes with the image being shown. The CUE image will appear alone for 2 seconds, during which time you should try to remember the TARGET it was paired with during the study phase.</p>

        <p>After 2 seconds, you will be able to make your response using the scale from "Not at all" to "Very much". Try to respond based on your memory for the association between the CUE and TARGET, as your response will  be used to determine whether you get to restudy that pair.</p>

        <div class="var">INSTRUCTIONIMG[2]</div>

        <p>You will only get to restudy half of all the pairs, so you should use the RESTUDY decision to your advantage by 
        indicating HOW MUCH you feel you need more study for a given pair. For example, if you can easily recall the TARGET that goes
        with a given CUE, you should respond "Not at all". Alternatively, if you have no idea what TARGET is associated with a CUE, you 
        should respond closer to the "Very much" end of the scale. Remember that you will be paid a bonus for every pair that you 
        remember correctly during the test at the end, so you should use the entire scale to respond as accurately as you can during 
        this part of the experiment.</p>

        <!--<p>Remember that you will be paid a bonus for every pair that you remember correctly during the test at the end, so you should
        use the RESTUDY decision to your advantage by accurately indicating HOW MUCH you feel you need more study for a given pair.</p>-->

        <p>Whether you make a RESTUDY or FREQUENCY decision will change for every image, so the kind of decision
        will be shown at the top of the page. Be sure to pay attention to this label so that you are making the right
        kind of decision!</p>

        <div class="continueinstructions">When you're ready to begin, press <strong>Next</strong>.</div>
        <input type="button" class="continue" id="Next" value="Next">


    </div>

